# .releaserc
branches: ["master", "next"]
plugins:
  - "@semantic-release/changelog"
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/git"
  - "@semantic-release/exec"
    - successCmd: "git push --mirror git@github.com:Adaptavist/terraform-module-s3-replication-metrics.git"
